OPENAI_API_KEY=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
SPORTSDATA_API_KEY=d9cbc3f6f3ee445a9812ac7fd9ba3026
